<section>
	{% for post in postslist %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
      <button class="btn" href="{{ post.url | url }}" target="_blank" rel="norefferer">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          Untitled
        {% endif %}
      </button>
		</article>
	{% endfor %}
</section>
