---
layout: layouts/base.njk
section: home
---

{% set postslist = collections.links %}
{% include "components/postslist.njk" %}

{{ layoutContent | safe }}

<div class="info-wrapper">
  <img src="static/img/dep.jpg"/>
  <div class="info">
    <small>Mile-Ex</small>
    <p>
    7032 Rue Waverly<br>
    Montréal, QC H2S 3J2
    </p>
    <a href="tel:+15142718011">514 271 8011</a><br/>
    <a href="https://g.page/lepickup?share" target="_blank" rel="norefferer">Hours & Directions</a>
  </div>
</div>

<button class="btn" href="/" target="_blank" rel="norefferer">Untitled</button>
<button class="btn" href="/" target="_blank" rel="norefferer">Untitled</button>
<button class="btn" href="/" target="_blank" rel="norefferer">Untitled</button>
<button class="btn" href="/" target="_blank" rel="norefferer">Untitled</button>

<p class="info">Your favourite corner store in the Marconi-Alexandra neighbourhood offers a mouthwatering menu of hot sandwiches, breakfasts, salads, coffee and sweet treats. Our vintage lunch counter and comfy back patio find local meat packers and mechanics rubbing shoulders with members of Montreal’s arts community. Our welcoming staff and affordable, delicious food keep people coming back for more.</p>